numpy
torch==1.9.1
numba
tensorboardX
easydict
pyyaml
scikit-image
tqdm
protobuf
waymo-open-dataset-tf-2-5-0
nuscenes-devkit==1.0.5
spconv-cu111
numba 
scipy 
pyyaml  
shapely 
matplotlib 
opencv-python 
pyquaternion 
open3d 
pandas     
Cython 
prefetch-generator
